# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

admin/
exercises/*.R
exercises/*.Rmd
exercises/*.html
exercises/*_files/
datascir20_figures.pptx
website/
slides/*.Rmd
slides/*.html
slides/figures/*
slides/04-rmarkdown-materials/
slides/my_project/
slides/emji.txt
slides/*drake/
!slides/session_info.Rmd
!slides/00-intro.Rmd
!slides/00-intro.html
!slides/01-R-Fundamentals.Rmd
!slides/01-R-Fundamentals.html
!slides/02-tidyverse.Rmd
!slides/02-tidyverse.html
!slides/03-ggplot2.Rmd
!slides/03-ggplot2.html
!slides/04-rmarkdown.Rmd
!slides/04-rmarkdown.html
!slides/05-tidymodels.Rmd
!slides/05-tidymodels.html
!slides/06-shiny.Rmd
!slides/06-shiny.html
!slides/figures/_gen/
!slides/figures/00-intro/
!slides/figures/01-R-Fundamentals/
!slides/figures/02-tidyverse/
!slides/figures/03-ggplot2/
!slides/figures/04-rmarkdown/
!slides/figures/05-tidymodels/
!slides/figures/06-shiny/
!exercises/ex-tidyverse.R
!exercises/ex-ggplot2.R
!exercises/ex-tidymodels.R

t01.R